/* Universal */

* {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
}
h2 {
  font-size: 32px;
  margin: 0;
  padding: 10px
}
h4 {
  margin: 0;
  padding: 10px
}

/* Header */

header {
  display: flex;
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  z-index: 1;
  width: 100%;
  margin-left: 10px;
  align-items: center;
  top: 0;
}
.logo {
  display: flex;
  flex-grow: 1;
}
header img {
  height: 50px;
}
header nav {
  display: inline-block;
  margin-right: 15px;
}
.link {
  text-decoration: underline;
  padding-right: 13px;
}

/* Content */

div {
  border: 1px solid cyan;
}
body {
  display: flex;
  justify-content: center;
}
main {
  display: flex;
  padding-top: 70px;
  flex-direction: column;
  justify-content: center;
  opacity: 0.9;
}
#mission {
  display: flex;
  background-image: url("../Images/background.jpg");
  width: 1200px;
  height: 700px;
  align-items: center;
}
.missionbanner {
  width: 1200px;
  text-align: center;
  padding: 0;
}
#teas {
  display: flex;
  width: 1000px;
  flex-direction: column;
  text-align: center;
  padding-top: 70px;
  margin-left: 100px;
  margin-right: 100px;
}
.teainfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tea {
  padding: 5px;
}
.tea img {
  display: block;
  height: 200px;
  margin: 10px;
  opacity: 0.9;
}
.tea span {
  display: block;
  font-weight: bold;
  padding: 5px;
}
.locations {
  display: flex;
  margin-top: 0;
}
