/* Universal */

* {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/* Header */

header {
  display: flex;
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  z-index: 1;
  width: 100%;
  margin-left: 10px;
  align-items: center;
}
.logo {
  display: flex;
  flex-grow: 1;
}
header img {
  height: 50px;
}
header nav {
  display: inline-block;
  margin-right: 15px;
}
.link {
  text-decoration: underline;
  padding-right: 13px;
}

/* Content */

div {
  border: 1px solid cyan;
}
body {
  display: flex;
  justify-content: center;
  /*text-align: center;*/
  /*align-content: center;*/
}
main {
  display: flex;
  padding-top: 69px;
  flex-direction: column;
}
#mission {
  display: flex;
  width: 1200px;
  background-image: url("../Images/background.jpg");
  height: 700px;
}
#teas {
  display: flex;
  width: 1000px;
  height: 700px;
}
